:root {
    --main-header-color: #333265;
    --main-navbar-color: #1B1A55;
    --main-text-color: #fff;
    --p-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121636;
    color: white;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    height: 8vh;
    background-color: var(--main-header-color);
    position: fixed;
    top: 0;
    left: 15vw;
    padding: 0 2vw;
    border-bottom: solid rgba(255, 255, 255, .3) 1px;
    color: white;
    z-index: 1000;
}

header .search-bar-container {
    background-color: var(--main-navbar-color);
    display: flex;
    align-items: center;
    padding: 0 20px 0 30px;
    border-radius: 30px;
    width: 50%;
    height: 60%;
    gap: 5px;
}

header input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--main-text-color);
    width: 95%;
    font-size: var(--p-size);
}

header input:focus {
    outline: 0;
}

header .to-login-page {
    color: white;
    text-decoration: none;
    font-size: var(--p-size);
}

header .header-profile-container {
    display: none;
    align-items: center;
    height: 100%;
    gap: 7px;
}

.left-sidebar {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--main-navbar-color);
    padding: 50px 20px 10px 25px;
    position: fixed;
    left: 0;
    top: 0;
    font-size: var(--p-size);
    border: solid rgba(255, 255, 255, .3);
    border-width: 0 1px 0 0;
    gap: 25px;
}

.link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.link-container span:first-child {
    width: 15%;
}

.link-container a {
    text-decoration: none;
    color: var(--main-text-color);
    letter-spacing: 1px;
}

.menu-after-login {
    display: none;
}

.main-content {
    margin-left: 15vw;
    margin-top: 8vh;
    padding: 20px;
    box-sizing: border-box;
    width: 85vw;
}

.article {
    background-color: #1f2240;
    padding: 20px;
    border-radius: 10px;
}

.article img.article-image {
    width: 100%;
    border-radius: 10px;
}

.article .image-caption {
    font-size: 14px;
    color: #aaa;
    margin-top: 10px;
}

.article .article-details {
    margin-top: 20px;
}

.article .article-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.article .likes {
    display: flex;
    align-items: center;
}

.article .likes img {
    width: 20px;
    margin-right: 10px;
}

.article .comments {
    flex-grow: 1;
}

.article .comments .comment {
    margin-top: 10px;
}

.article .comments .commenter {
    font-weight: bold;
    display: block;
}