/* VARIABLES */
:root {
    /* Main colors */
    --main-bg-color: #070F2B;
    --main-navbar-color: #1B1A55;
    --main-header-color: #535C91;
    --main-text-color: #FFFFFF;

    /* Font styling */
    --main-font: "Trebuchet MS";
    --h1-size: 35px;
    --h2-size: 30px;
    --h3-size: 20px;
    --p-size: 16px;
    --small-p-size: 14px;
}


/* MAIN STYLING */
* {
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    background-color: var(--main-bg-color);
}

h1 {font-size: var(--h1-size);}
h2 {font-size: var(--h2-size);}
h3 {font-size: var(--h3-size);}
p {font-size: var(--p-size);}