/* VARIABLES */
:root {
    /* Main colors */
    --main-bg-color: #070F2B;
    --main-navbar-color: #1B1A55;
    --main-header-color: #535C91;
    --main-text-color: #FFFFFF;

    /* Font styling */
    --main-font: "Trebuchet MS";
}


/* MAIN STYLING */
* {
    box-sizing: border-box;
    font-family: var(--main-font);
}

h1 {font-size: 35px;}
h2 {font-size: 30px;}
h3 {font-size: 25px;}
p {font-size: 18px;}