body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
    height: 8vh;
    background-color: var(--main-header-color);
    position: absolute;
    top: 0;
    left: 15vw;
    border: solid rgba(255, 255, 255, .3);
    border-width: 0 0 1px 0;
    color: white;
}

.left-sidebar {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--main-navbar-color);
    padding: 50px 20px 10px 25px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: var(--p-size);
    border: solid rgba(255, 255, 255, .3);
    border-width: 0 1px 0 0;
    gap: 25px;
}

.link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.link-container span:first-child {
    width: 15%;
}

.link-container a {
    text-decoration: none;
    color: var(--main-text-color);
    letter-spacing: 1px;
}

.blank-container {
    width: calc(70% - 375px);
    height: 75vh;
    background-color: #1B1A55;
    margin-left: calc(60% - 375px);
    margin-top: calc(33% - 375px);
    float: left;
    clear: both;
    position: relative;
}

.sidebar-box {
    width: 350px;
    height: 55px;
    margin: 0%;
    position: absolute;
    top: 0;
    padding: 10px; 
    color: #fff; 
    text-align: center; 
    line-height: 35px; 
    font-size: 20px; 
}

.sidebar-box.left {
    left: 0;
    background-color: #333265;
}

.sidebar-box.right { 
    right: 0;
    background-color: #9290C3;
}

.search-input-fname, .search-input-lname, .search-input-email, .search-input-password, .search-input-cpass {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 40px;
    background-color: #D8D8D8;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    color: #333;
    font-size: 16px;
    box-sizing: border-box;
}

#signup-page, #login-page {
    text-decoration: none;
    color: var(--main-text-color);
    letter-spacing: 1px;
}

.search-input-fname {
    top: 80px;
}

.search-input-lname {
    top: 140px;
}

.search-input-email {
    top: 260px;
}

.search-input-password {
    top: 320px;
}

.search-input-cpass {
    top: 380px;
}

.dob-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 40px;
    box-sizing: border-box;
}

.dob-select, .dob-input {
    width: 30%;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #D8D8D8;
    background-color: #D8D8D8;
    color: grey;
    border-radius: 20px;
    box-sizing: border-box;
}

.submit-button {
    position: absolute;
    top: 460px;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    padding: 10px;
    font-size: 18px;
    background-color: #9290C3;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #333265;
}
