body {
    margin: 0;
    padding: 0;
}
.left-sidebar {
    width: 230px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}
.blank-container {
    width: calc(70% - 375px);
    height: 75vh;
    background-color: #1B1A55;
    margin-left: calc(60% - 375px);
    margin-top: calc(33% - 375px);
    float: left;
    clear: both;
    position: relative;
}
.sidebar-box {
    width: 350px;
    height: 55px;
    margin: 0%;
    position: absolute;
    top: 0;
    padding: 10px; 
    color: #fff; 
    text-align: center; 
    line-height: 35px; 
    font-size: 20px; 
}
.sidebar-box.left {
    left: 0;
    background-color: #9290C3;
}
.sidebar-box.right { 
    right: 0;
    background-color: #333265;
}
.search-input-fname {
    position: absolute;
    top: 80px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 80%; 
    height: 40px; 
    background-color: #D8D8D8;
    border: none;
    border-radius: 20px; 
    padding: 0 20px; 
    color: #333;
    font-size: 16px;
} 
.search-input-lname {
    position: absolute;
    top: 140px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 80%; 
    height: 40px; 
    background-color: #D8D8D8;
    border: none;
    border-radius: 20px; 
    padding: 0 20px; 
    color: #333;
    font-size: 16px;
} 