/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
    height: 8vh;
    background-color: var(--main-header-color);
    position: absolute;
    top: 0;
    left: 15vw;
    border: solid rgba(255, 255, 255, .3);
    border-width: 0 0 1px 0;
    color: white;
}

header .search-bar-container {
    background-color: var(--main-navbar-color);
    display: flex;
    align-items: center;
    padding: 0 20px 0 30px;
    border-radius: 30px;
    width: 50%;
    height: 60%;
    gap: 5px;
}

header input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--main-text-color);
    width: 95%;
    font-size: var(--p-size);
}

header input:focus {
    outline: 0;
}

header .login-button {
    width: 10%;
    height: 60%;
    border-radius: 30px;
    color: #1B1A55;
    background-color: #9290C3;
    border-width: 0px;
    font-size: var(--p-size);
    letter-spacing: 1px;
    font-weight: bold;
}

header .header-profile-container {
    display: none;
    align-items: center;
    height: 100%;
    gap: 7px;
}

/* LEFT SIDEBAR */
.left-sidebar {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--main-navbar-color);
    padding: 50px 20px 10px 25px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: var(--p-size);
    border: solid rgba(255, 255, 255, .3);
    border-width: 0 1px 0 0;
    gap: 25px;
}

.link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.link-container span:first-child {
    width: 15%;
}

.link-container a {
    text-decoration: none;
    color: var(--main-text-color);
    letter-spacing: 1px;
}

/* FORM */
.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vh;
    margin-left: 15vw;
    padding: 20px;
    color: var(--main-text-color);
    border-radius: 10px;
    font-size: var(--h3-size);
}

.tema-dan-jenis{
    margin-top: 0%;
    margin-left: 0%;
    padding: 0%;
    display: flex;
    width: 759px;
    justify-content:space-between;
    align-items: flex-end;
}

.form-group {
    margin-bottom: 50px;
    width: 759px;
    height: 72px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group ::placeholder {
    color: #1B1A55;
    opacity: 30%;
}

.form-group select{
    display: flex;
    font-size: var(--h3-size);
    width: 370px;
    height: 60px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #D9D9D9;
    color: #1B1A55;
}

.form-group input[type="text"]{
    font-size: var(--h3-size);
    width: 100%;
    height: 60px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #D9D9D9;
    color: #1B1A55;
}

.form-upload{
    margin-bottom: 130px;
    width: 759px;
    height: 72px;
}

.file-upload {
    border: 2px dashed #1a1a3d;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: #D9D9D9;
    height: 150px;
    margin-bottom: 100px;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload span {
    color: #1B1A55;
    opacity: 30%;
}

.form-buttons {
    display: flex;
    justify-content: space-evenly;
}

.form-buttons .cancel,
.form-buttons .send {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #9290C3;
    color: #1B1A55;
    font-size: var(--p-size);

}